server:
  port: 8090

spring:
  datasource:
    url: jdbc:postgresql://localhost:5551/finance_db
    username: admin
    password: Qwnmzxop10

  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true